<!-- minimal.launch -->
<launch>

  <!-- Specify the package name -->
  <arg name="package" default="mattbot_bringup"/>

  <!-- Launch a node from the package -->
  <node pkg="$(arg package)" type="mcu_comms.py" name="mcu_comms_node" output="screen">
    <!-- Add any additional node-specific parameters here -->
  </node>

  <!-- Launch the twist multiplexer -->
  <include file="$(find twist_mux)/launch/twist_mux.launch">
    <arg name="output_loc" value="log"/>
  </include>
  
  <!-- Launch the LIDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">
  
  </include>
  
  <!-- Launch the Camera -->
  <include file="$(find astra_camera)/launch/astra.launch">
  
  </include>
  
  <!-- Launch SLAM -->
  <include file="$(find gmapping)/launch/slam_gmapping_pr2.launch">
      <arg name="output_location" value="log"/>
  </include>

  <!-- Launch YOLO -->
  <include file="$(find darknet_ros)/launch/yolo_v3.launch">
      <arg name="output_location" value="log"/>
  </include>


</launch>
