<!-- minimal.launch -->
<launch>

  <!-- Specify the package name -->
  <arg name="package" default="mattbot_bringup"/>

  <!-- Launch a node from the package -->
  <node pkg="$(arg package)" type="mcu_comms.py" name="mcu_comms_node" output="screen">
    <!-- Add any additional node-specific parameters here -->
  </node>

  <!-- Launch the DDS Node -->
  <include file="$(find mattbot_dds)/launch/entry_exit.launch">
    <!-- No arguments needed -->
  </include>

  <!-- Launch the twist multiplexer -->
  <include file="$(find twist_mux)/launch/twist_mux.launch">
    <arg name="output_loc" value="log"/>
  </include>
  
  <!-- Launch the LIDAR -->
  <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch">
  
  </include>
  
  <!-- Launch the Camera -->
  <include file="$(find astra_camera)/launch/astra.launch">
  
  </include>

    <!-- Launch the Monte Carlo Localization -->
  <include file="$(find mattbot_mcl)/launch/mcl.launch">
    <!-- No arguments needed -->
  </include>

  <include file="$(find mattbot_navigation)/launch/localize_and_occupancy_mapper_tall.launch">
    <!-- No arguments needed -->
  </include>

</launch>
